*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
}
h1{
    margin: 15px 0 10px 0;
}
section {
    display: inline-block;
    border: 3px solid black;
    width: 30%;
    background-color: #999;
    position: relative;
    margin: 10px;
}
.header {
    text-align: right;
}
.title{
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border-bottom: 3px solid black;
    border-left:3px solid black ;
    width: 130px;
}
section > p {
    margin: 10px;
}
.chicken {
    background-color: rgb(233, 167, 167);
}
.beef{
    background-color: rgb(215, 80, 56);
    color: #fff;
}
.sushi {
    background-color: rgb(235, 235, 138);
}
@media (min-width:768px ) and (max-width : 991px){

#sushi{
    display: block;
    width: auto;
}
#chicken , #beef {
    width: 47%;
}
}
@media (max-width: 767px){
    #chicken{
        display: block;
        width: auto;
    }
    #beef{
        display: block;
        width: auto;
    }
    #sushi{
        display: block;
        width: auto;
    }
}